<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.IRA.graphql.base.reuserun</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Mutationforupdateassessmentwithquestions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MutationforupdateAssessmentAttempt</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MutationforcreateUserAssessment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MutationforcreateAssessmentAttempt</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>QueryforassessmentAttempt</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Mutationforpublishassessment</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
