<h2>Methods that were not run</h2><table>
<tr><td>com.IRA.graphql.base.reuserun.MutationforcreateUserAssessment</td></tr>
<tr><td>com.IRA.graphql.base.reuserun.Mutationforupdateassessmentwithquestions</td></tr>
<tr><td>com.IRA.graphql.base.reuserun.MutationforupdateAssessmentAttempt</td></tr>
<tr><td>com.IRA.graphql.base.reuserun.MutationforcreateAssessmentAttempt</td></tr>
<tr><td>com.IRA.graphql.base.reuserun.Mutationforpublishassessment</td></tr>
</table>