<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>FREE CRM Application Test Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="68b6dd">  <td>20/02/17 19:47:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTitleTest()[pri:2, instance:com.IRA.qa.testcases.LoginPageTest@48e4374]">loginPageTitleTest</td> 
  <td>main@1156304131</td>   <td></td> </tr>
<tr bgcolor="68b6dd">  <td>20/02/17 19:47:46</td>   <td>-13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:1, instance:com.IRA.qa.testcases.LoginPageTest@48e4374]">loginTest</td> 
  <td>main@1156304131</td>   <td></td> </tr>
<tr bgcolor="68b6dd">  <td>20/02/17 19:47:33</td>   <td>-13167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.IRA.qa.testcases.LoginPageTest@48e4374]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1156304131</td>   <td></td> </tr>
<tr bgcolor="68b6dd">  <td>20/02/17 19:47:46</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.IRA.qa.testcases.LoginPageTest@48e4374]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1156304131</td>   <td></td> </tr>
<tr bgcolor="68b6dd">  <td>20/02/17 19:47:46</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.IRA.qa.testcases.LoginPageTest@48e4374]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="68b6dd">  <td>20/02/17 19:47:46</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.IRA.qa.testcases.LoginPageTest@48e4374]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
