<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>IRA Test Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f96a2">  <td>20/03/03 15:09:28</td>   <td>0</td> <td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.IRA.qa.testcases.LoginPageTest@31c88ec8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7967307</td>   <td></td> </tr>
<tr bgcolor="9f96a2">  <td>20/03/03 15:09:44</td>   <td>15903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:1, instance:com.IRA.qa.testcases.LoginPageTest@31c88ec8]">loginTest</td> 
  <td>main@7967307</td>   <td></td> </tr>
<tr bgcolor="9f96a2">  <td>20/03/03 15:09:46</td>   <td>17672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTitleTest()[pri:2, instance:com.IRA.qa.testcases.LoginPageTest@31c88ec8]">loginPageTitleTest</td> 
  <td>main@7967307</td>   <td></td> </tr>
<tr bgcolor="9f96a2">  <td>20/03/03 15:10:07</td>   <td>38363</td> <td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:com.IRA.qa.testcases.LoginPageTest@31c88ec8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7967307</td>   <td></td> </tr>
</table>
